.form {
    display: flex;
    border: 1px solid #ddd;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 50%;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


p {
    margin-top: 0;
}

input {
    margin: 15px 0;
    padding: 10px;
}


.submit {
    padding: 10px;
}