.fade.alert.alert-danger.show {
  justify-content: center;
}

.Card {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 10px;
}

.card-body {
  text-align: center;
}

.App_button {
  text-align: center;
  background-color: black;
  padding: 10px;
}

.Login_button {
  text-align: center;
  background-color: black;
  top: 90%;
  position: fixed;
  z-index: -1;
  width: 100%;

}

.fade.alert.alert-primary.show {
  top: 40%;
  position: absolute;
  z-index: 1;
}

.card-detail {
  padding: 5px;
}

.alert {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 4em;
  width: 60%;
  z-index: 1;
}

.pagination_container {
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
  bottom: 0%;
  width: 100%;
}