.photo {
  background-color: black;

}

.box {
  display: inline-grid;
  text-Align: center;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  height: 420px;
  width: 250px;
}

.App {
  background-color: black;
}


.button {
  text-align: center;
}

.card-detail {
  padding: 30px;
}

.alert {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 10em;
  width: 60%;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
}